<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinemar.phoneticket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CALENDAR" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Phone_ticket_theme" >
        <activity
            android:name="com.cinemar.phoneticket.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.cinemar.phoneticket.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.LoginActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.PeliculasActivity"
            android:label="@string/title_activity_peliculas"
            android:parentActivityName="com.cinemar.phoneticket.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.PeliculasFuncionActivity"
            android:parentActivityName="com.cinemar.phoneticket.PeliculasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.PeliculasActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.MainMyAccountActivity"
            android:label="@string/title_activity_main_my_account"
            android:parentActivityName="com.cinemar.phoneticket.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.ComplejosActivity"
            android:label="@string/title_activity_complejos"
            android:parentActivityName="com.cinemar.phoneticket.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.ReserveShowActivity"
            android:label="@string/title_activity_reserve_show"
            android:parentActivityName="com.cinemar.phoneticket.MainMyAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.MainMyAccountActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.BuyShowActivity"
            android:label="@string/title_activity_buy_show"
            android:parentActivityName="com.cinemar.phoneticket.MainMyAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.MainMyAccountActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.SelectSeatsActivity"
            android:label="@string/title_activity_select_seats"
            android:parentActivityName="com.cinemar.phoneticket.PeliculasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cinemar.phoneticket.PeliculasActivity" />
        </activity>
        <activity
            android:name="com.cinemar.phoneticket.SelectTicketsActivity"
            android:label="@string/title_activity_select_tickets" >
        </activity>
    </application>

</manifest>
